@media only screen and (min-width: 32rem) {
  header span {font-size: 2rem;}
}

@media (min-width: 768px) {
  .hamburger {
    display: none; /* ocultar botón */
  }

  .navigation {
    display: block; /* siempre visible */
    /* background: none; */
    border: none;
  }

  .navigation ul {
    display: flex; /* links en fila */
    justify-content: flex-end;
    gap: 20px;
  }

  .navigation li {
    border: none;
  }

  .navigation li a {
    padding: 10px 15px;
    color: white;
  }

  .navigation li a:hover {
    color: var(--accent);
  }
}
