/* HEADER */
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

header img {
  width: 24px;
  height: 24px;
}

header span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* BOTÓN HAMBURGUESA */
.hamburger {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburger::before {
  content: "\2630"; /* ☰ */
}

.hamburger.show::before {
  content: "\00D7"; /* × */
}

/* NAVIGATION */
.navigation {
  display: none;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  border-top: 1px solid #eee;
}

.navigation li a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
}

.navigation li.current a {
  background: #ddd;
  font-weight: bold;
}

.navigation.show {
  display: block;
}

/* PANTALLAS GRANDES */
@media (min-width: 768px) {
  .hamburger {
    display: none; /* ocultar botón */
  }

  .navigation {
    display: block; /* siempre visible */
  }

  .navigation ul {
    display: flex; /* links en fila */
    justify-content: flex-end;
    gap: 20px;
  }

  .navigation li {
    border: none;
  }

  .navigation li a {
    padding: 10px 15px;
  }
}


/* footer  */

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 10px;
}

footer .social-icons a img,
footer .social-icons a svg {
  width: 48px;
  height: 48px;
}

footer .footer-info p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #333;
}
